# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
home-credit-credit-risk-model-stability/csv_files/test/test_applprev_1_0.csv
home-credit-credit-risk-model-stability/csv_files/test/test_applprev_1_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_applprev_1_2.csv
home-credit-credit-risk-model-stability/csv_files/test/test_applprev_2.csv
home-credit-credit-risk-model-stability/csv_files/test/test_base.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_0.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_2.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_3.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_1_4.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_0.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_10.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_11.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_2.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_3.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_4.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_5.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_6.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_7.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_8.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_a_2_9.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_b_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_credit_bureau_b_2.csv
home-credit-credit-risk-model-stability/csv_files/test/test_debitcard_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_deposit_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_other_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_person_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_person_2.csv
home-credit-credit-risk-model-stability/csv_files/test/test_static_0_0.csv
home-credit-credit-risk-model-stability/csv_files/test/test_static_0_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_static_0_2.csv
home-credit-credit-risk-model-stability/csv_files/test/test_static_cb_0.csv
home-credit-credit-risk-model-stability/csv_files/test/test_tax_registry_a_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_tax_registry_b_1.csv
home-credit-credit-risk-model-stability/csv_files/test/test_tax_registry_c_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_applprev_1_0.csv
home-credit-credit-risk-model-stability/csv_files/train/train_applprev_1_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_applprev_2.csv
home-credit-credit-risk-model-stability/csv_files/train/train_base.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_1_0.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_1_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_1_2.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_1_3.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_0.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_10.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_2.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_3.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_4.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_5.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_6.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_7.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_8.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_a_2_9.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_b_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_credit_bureau_b_2.csv
home-credit-credit-risk-model-stability/csv_files/train/train_debitcard_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_deposit_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_other_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_person_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_person_2.csv
home-credit-credit-risk-model-stability/csv_files/train/train_static_0_0.csv
home-credit-credit-risk-model-stability/csv_files/train/train_static_0_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_static_cb_0.csv
home-credit-credit-risk-model-stability/csv_files/train/train_tax_registry_a_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_tax_registry_b_1.csv
home-credit-credit-risk-model-stability/csv_files/train/train_tax_registry_c_1.csv
home-credit-credit-risk-model-stability/feature_definitions.csv
home-credit-credit-risk-model-stability/sample_submission.csv
train_joined_tbl.rds
train_joined_df.rds
train_features_subsample.rds
train_features.rds
train.rds
test_joined_tbl.rds
test_joined_df.rds
test.rds
split_dataset_names.rds
rf_res.rds
random_grid_perf.rds
random_grid.rds
R/build_one.R
R/build.R
pred_probs.rds
pred_home.rds
mydb
home_train.rds
home_test.rds
home_rf_fit.rds
01-preliminary-etl.html
01-preliminary-etl.Rmd
02-preliminary-analysis.html
02-preliminary-analysis.Rmd
03-competition-etl.Rmd
2024-03-11-home_credit_ETL.html
all_joined.rds
compare_cv_rf.rds
df_new_pre_processed.rds
home_credit_analysis.html
h2o_rf1.rds
home_credit_ETL.Rmd
home_credit_ETL.html
home_credit_ETL.Rmd
